* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  width: 100%;
  height: 80px;
  background-color: #1d1d1f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  position: fixed;
  top: 0;
  z-index: 5;
}

nav a.logo {
  width: 50px;
  height: 50px;
  margin: auto 0;
  overflow: hidden;
}

nav a.logo > img {
  width: 100%;
}

nav a.logo h1 {
  display: none;
}

nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

nav ul li > a {
  text-decoration: none;
  color: #eeeeee;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 3px 50px;
}

nav ul li > a:hover {
  background-color: #af2525;
  border-radius: 5px;
  -webkit-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

nav .burger {
  cursor: pointer;
  margin: auto 0;
  display: none;
}

nav .burger > div {
  width: 25px;
  height: 3px;
  background-color: #eeeeee;
  margin: 10px;
  -webkit-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

@media (max-width: 991px) {
  nav ul > li a {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  nav .burger {
    display: block;
  }
  nav ul {
    position: fixed;
    height: calc(100vh - 80px);
    top: 80px;
    right: -100%;
    width: 100%;
    background-color: #1d1d1f;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding: 60px 0;
    opacity: 0;
    -webkit-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
  }
  nav .nav-active {
    right: 0%;
    opacity: 1;
    -webkit-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
  }
  nav .toggle .line1 {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
        -ms-transform: rotate(45deg) translate(5px, 5px);
            transform: rotate(45deg) translate(5px, 5px);
    -webkit-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
  }
  nav .toggle .line2 {
    -webkit-transform: rotate(-45deg) translate(4px, -5px);
        -ms-transform: rotate(-45deg) translate(4px, -5px);
            transform: rotate(-45deg) translate(4px, -5px);
    -webkit-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
  }
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/iphoneSE.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: fade ease-in 1s;
          animation: fade ease-in 1s;
}

.banner > div {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: textFade ease-in 1s 0.5s forwards;
          animation: textFade ease-in 1s 0.5s forwards;
  opacity: 0;
}

.banner > div > h1 {
  color: #eeeeee;
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 3px;
  font-size: 50px;
}

.banner > div > h2 {
  color: #eeeeee;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  margin-top: 10px;
}

.banner > div > a {
  text-decoration: none;
}

.banner > div > a > h3 {
  margin-top: 20px;
  color: #266df0;
}

@media (max-width: 767px) {
  .banner > div > h1 {
    font-size: 40px;
  }
  .banner > div > h2 {
    font-size: 20px;
  }
  .banner > div a > h3 {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .banner > div > h1 {
    font-size: 28px;
  }
  .banner > div > h2 {
    font-size: 18px;
  }
  .banner > div a > h3 {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .banner div {
    -webkit-box-align: auto;
    -webkit-align-items: auto;
        -ms-flex-align: auto;
            align-items: auto;
  }
}

@media (max-width: 1176px) {
  .banner {
    background-image: url(../img/iphoneSE-color.jpg);
  }
}

@media (max-width: 767px) {
  .banner {
    background-image: url(../img/iPhone-SE-column.jpg);
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes textFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes textFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#iPhone11 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/iphone-11.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#iPhone11 > div {
  position: absolute;
  text-align: center;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

#iPhone11 > div > h1 {
  color: #1d1d1f;
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 3px;
  font-size: 50px;
}

#iPhone11 > div > h2 {
  color: #1d1d1f;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  margin-top: 10px;
}

#iPhone11 > div > a {
  text-decoration: none;
}

#iPhone11 > div > a > h3 {
  margin-top: 20px;
  color: #266df0;
}

@media (max-width: 767px) {
  #iPhone11 > div > h1 {
    font-size: 40px;
  }
  #iPhone11 > div > h2 {
    font-size: 20px;
  }
  #iPhone11 > div a > h3 {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  #iPhone11 > div > h1 {
    font-size: 28px;
  }
  #iPhone11 > div > h2 {
    font-size: 18px;
  }
  #iPhone11 > div a > h3 {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  #iPhone11 div {
    -webkit-box-align: auto;
    -webkit-align-items: auto;
        -ms-flex-align: auto;
            align-items: auto;
  }
}

@media (max-width: 1176px) {
  #iPhone11 {
    background-image: url(../img/iphone-11-1.jpg);
  }
  #iPhone11 > div {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (max-width: 767px) {
  #iPhone11 {
    background-image: url(../img/iphone11.png);
  }
  #iPhone11 > div {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #iPhone11 > div > h1 {
    color: #eeeeee;
  }
  #iPhone11 > div > h2 {
    color: #eeeeee;
  }
  #iPhone11 > div > a {
    text-decoration: none;
  }
  #iPhone11 > div > a > h3 {
    color: #266df0;
  }
}
