* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

nav#navigation {
  width: 100%;
  height: 50px;
  background-color: #1d1d1f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  position: fixed;
  top: 0;
  z-index: 5;
}

nav#navigation a.logo {
  width: 50px;
  height: 50px;
  margin: auto 0;
  overflow: hidden;
}

nav#navigation a.logo > img {
  width: 100%;
}

nav#navigation a.logo h1 {
  display: none;
}

nav#navigation ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-bottom: unset;
}

nav#navigation ul li > a {
  text-decoration: none;
  color: #eeeeee;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 3px 50px;
}

nav#navigation ul li > a:hover {
  background-color: #eeeeee;
  border-radius: 5px;
  -webkit-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
  text-decoration: none;
  color: #1d1d1f;
  font-weight: 600;
}

nav#navigation ul li > a:hover > a {
  text-decoration: none;
}

nav#navigation .burger {
  cursor: pointer;
  margin: auto 0;
  display: none;
}

nav#navigation .burger > div {
  width: 25px;
  height: 3px;
  background-color: #eeeeee;
  margin: 10px;
  -webkit-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

@media (max-width: 991px) {
  nav#navigation ul > li a {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  nav#navigation .burger {
    display: block;
  }
  nav#navigation ul {
    position: fixed;
    height: calc(100vh - 50px);
    top: 50px;
    right: -100%;
    width: 100%;
    background-color: #1d1d1f;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding: 60px 0;
    opacity: 0;
    -webkit-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
  }
  nav#navigation .nav-active {
    right: 0%;
    opacity: 1;
    -webkit-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
  }
  nav#navigation .toggle .line1 {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
        -ms-transform: rotate(45deg) translate(5px, 5px);
            transform: rotate(45deg) translate(5px, 5px);
    -webkit-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
  }
  nav#navigation .toggle .line2 {
    -webkit-transform: rotate(-45deg) translate(4px, -5px);
        -ms-transform: rotate(-45deg) translate(4px, -5px);
            transform: rotate(-45deg) translate(4px, -5px);
    -webkit-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
  }
}

#iPhone-SE {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/iphoneSE.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: fade ease-in 1s;
          animation: fade ease-in 1s;
}

#iPhone-SE > div {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: textFade ease-in 1s 0.8s forwards;
          animation: textFade ease-in 1s 0.8s forwards;
  opacity: 0;
}

#iPhone-SE > div > h1 {
  color: #eeeeee;
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 3px;
  font-size: 50px;
}

#iPhone-SE > div > h2 {
  color: #eeeeee;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  margin-top: 10px;
}

#iPhone-SE > div > a {
  text-decoration: none;
}

#iPhone-SE > div > a > h3 {
  margin-top: 20px;
  font-family: "Noto Sans TC", sans-serif;
  color: #266df0;
}

@media (max-width: 767px) {
  #iPhone-SE > div > h1 {
    font-size: 40px;
  }
  #iPhone-SE > div > h2 {
    font-size: 20px;
  }
  #iPhone-SE > div a > h3 {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  #iPhone-SE > div > h1 {
    font-size: 26px;
  }
  #iPhone-SE > div > h2 {
    font-size: 16px;
  }
  #iPhone-SE > div a > h3 {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  #iPhone-SE div {
    -webkit-box-align: auto;
    -webkit-align-items: auto;
        -ms-flex-align: auto;
            align-items: auto;
  }
}

@media (max-width: 1176px) {
  #iPhone-SE {
    background-image: url(../img/iphoneSE-color.jpg);
  }
}

@media (max-width: 767px) {
  #iPhone-SE {
    background-image: url(../img/iPhone-SE-column.jpg);
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes textFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes textFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#iPhone11 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/iPhone-11.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#iPhone11 > div {
  position: absolute;
  text-align: center;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

#iPhone11 > div > h1 {
  color: #1d1d1f;
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 3px;
  font-size: 50px;
}

#iPhone11 > div > h2 {
  color: #1d1d1f;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  margin-top: 10px;
}

#iPhone11 > div > a {
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
}

#iPhone11 > div > a > h3 {
  margin-top: 20px;
  color: #266df0;
}

@media (max-width: 767px) {
  #iPhone11 > div > h1 {
    font-size: 40px;
  }
  #iPhone11 > div > h2 {
    font-size: 20px;
  }
  #iPhone11 > div a > h3 {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  #iPhone11 > div > h1 {
    font-size: 26px;
  }
  #iPhone11 > div > h2 {
    font-size: 16px;
  }
  #iPhone11 > div a > h3 {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  #iPhone11 div {
    -webkit-box-align: auto;
    -webkit-align-items: auto;
        -ms-flex-align: auto;
            align-items: auto;
  }
}

@media (max-width: 1176px) {
  #iPhone11 {
    background-image: url(../img/iPhone-11-1.jpg);
  }
  #iPhone11 > div {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (max-width: 767px) {
  #iPhone11 {
    background-image: url(../img/iphone11.png);
  }
  #iPhone11 > div {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #iPhone11 > div > h1 {
    color: #eeeeee;
  }
  #iPhone11 > div > h2 {
    color: #eeeeee;
  }
  #iPhone11 > div > a {
    text-decoration: none;
  }
  #iPhone11 > div > a > h3 {
    color: #266df0;
  }
}

#iPad-pro {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/iPad-pro.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#iPad-pro > div {
  position: absolute;
  text-align: center;
  top: 40%;
  right: 6%;
  -webkit-transform: translate(-6%, -40%);
      -ms-transform: translate(-6%, -40%);
          transform: translate(-6%, -40%);
}

#iPad-pro > div > h1 {
  color: #1d1d1f;
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 3px;
  font-size: 50px;
}

#iPad-pro > div > h2 {
  color: #1d1d1f;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  margin-top: 10px;
}

#iPad-pro > div > a {
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
}

#iPad-pro > div > a > h3 {
  margin-top: 20px;
  color: #266df0;
}

@media (max-width: 767px) {
  #iPad-pro > div > h1 {
    font-size: 40px;
  }
  #iPad-pro > div > h2 {
    font-size: 20px;
  }
  #iPad-pro > div a > h3 {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  #iPad-pro > div > h1 {
    font-size: 26px;
  }
  #iPad-pro > div > h2 {
    font-size: 16px;
  }
  #iPad-pro > div a > h3 {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  #iPad-pro div {
    -webkit-box-align: auto;
    -webkit-align-items: auto;
        -ms-flex-align: auto;
            align-items: auto;
  }
}

@media (max-width: 1199px) {
  #iPad-pro {
    background-image: url(../img/iPad-pro-1.png);
  }
  #iPad-pro > div {
    top: 50%;
    right: 5%;
    -webkit-transform: translate(-5%, -50%);
        -ms-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
  }
}

@media (max-width: 767px) {
  #iPad-pro {
    background-image: url(../img/iPad-pro-2.png);
  }
  #iPad-pro > div {
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #iPad-pro > div > h1 {
    color: #1d1d1f;
  }
  #iPad-pro > div > h2 {
    color: #1d1d1f;
  }
  #iPad-pro > div > a {
    text-decoration: none;
  }
  #iPad-pro > div > a > h3 {
    color: #266df0;
  }
}

#theme .row {
  margin-bottom: 10px;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  #theme .row {
    margin-bottom: unset;
  }
}

#iPhone11-pro {
  padding-right: 5px;
  padding-left: 10px;
}

.apple-product > div {
  overflow: hidden;
  position: relative;
}

.apple-product > div > img {
  width: 100%;
}

.apple-product > div > div.absolute-div {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
      -ms-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
  text-align: center;
}

.apple-product > div > div.absolute-div > h1 {
  color: #eeeeee;
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 3px;
  font-size: 40px;
}

.apple-product > div > div.absolute-div > h2 {
  color: #eeeeee;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  margin-top: 10px;
  font-size: 20px;
}

.apple-product > div > div.absolute-div > a {
  text-decoration: none;
}

.apple-product > div > div.absolute-div > a > h3 {
  font-size: 18px;
  font-family: "Noto Sans TC", sans-serif;
  color: #266df0;
  margin-top: 20px;
}

@media screen and (max-width: 1400px) {
  .apple-product > div > div.absolute-div h1 {
    font-size: 26px;
  }
  .apple-product > div > div.absolute-div h2 {
    font-size: 16px;
  }
  .apple-product > div > div.absolute-div a h3 {
    font-size: 12px;
  }
}

@media screen and (max-width: 900px) {
  .apple-product > div > div.absolute-div h1 {
    letter-spacing: unset;
    font-size: 20px;
  }
  .apple-product > div > div.absolute-div h2 {
    font-size: 12px;
  }
  .apple-product > div > div.absolute-div a h3 {
    font-size: 10px;
  }
}

@media screen and (max-width: 500px) {
  .apple-product > div > div.absolute-div h1 {
    letter-spacing: unset;
    font-size: 22px;
  }
  .apple-product > div > div.absolute-div h2 {
    font-size: 12px;
  }
  .apple-product > div > div.absolute-div a h3 {
    font-size: 10px;
  }
}

@media (max-width: 767px) {
  #iPhone11-pro {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
  }
}

#WWDC20 {
  padding-right: 10px;
  padding-left: 5px;
}

@media (max-width: 767px) {
  #WWDC20 {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
  }
}

#apple-watch {
  padding-right: 5px;
  padding-left: 10px;
}

#apple-watch > div > .apple-watch-content > h1 {
  color: #1d1d1f;
}

#apple-watch > div > .apple-watch-content > h2 {
  color: #1d1d1f;
}

#apple-watch > div > .apple-watch-content > h3 {
  color: #1d1d1f;
}

@media (max-width: 767px) {
  #apple-watch {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
  }
}

#woker {
  padding-right: 10px;
  padding-left: 5px;
}

@media (max-width: 767px) {
  #woker {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
  }
}

#apple-at-home {
  padding-right: 5px;
  padding-left: 10px;
}

#apple-at-home > div .apple-at-home-content > h2 {
  background: -webkit-gradient(linear, left top, right top, from(#80c0fc), to(#52228d));
  background: -webkit-linear-gradient(left, #80c0fc 0%, #52228d 100%);
  background: -o-linear-gradient(left, #80c0fc 0%, #52228d 100%);
  background: linear-gradient(to right, #80c0fc 0%, #52228d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

@media (max-width: 767px) {
  #apple-at-home {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
  }
}

#Apple-tv {
  padding-right: 10px;
  padding-left: 5px;
}

#Apple-tv > div {
  overflow: hidden;
}

#Apple-tv > div img {
  width: 100%;
}

@media (max-width: 767px) {
  #Apple-tv {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
  }
}

#Apple-footer {
  width: 100%;
  background-color: #eeeeee;
}

#Apple-footer > div.container {
  padding-top: 15px;
}

#Apple-footer > div.container > .instructions p {
  color: #585858;
  font-size: 12px;
}

#Apple-footer > div.container > .divider {
  margin: 20px 0;
  width: 100%;
  height: 1px;
  background-color: #dadada;
}

#Apple-footer > div.container > #apple-guide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

#Apple-footer > div.container > #apple-guide > div.select-product {
  -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
}

#Apple-footer > div.container > #apple-guide > div.select-product input#select-product {
  display: none;
}

#Apple-footer > div.container > #apple-guide > div.select-product > div label {
  margin-bottom: unset;
}

#Apple-footer > div.container > #apple-guide > div.select-product > div label h3 {
  font-size: 12px;
  font-weight: 600;
  font-family: "Noto Sans TC", sans-serif;
  color: #1d1d1f;
}

#Apple-footer > div.container > #apple-guide > div.select-product > div ul {
  list-style: none;
  margin-right: 20px;
}

#Apple-footer > div.container > #apple-guide > div.select-product > div ul li a {
  font-size: 12px;
  color: #1d1d1f;
}

#Apple-footer > div.container > #apple-guide > div.service-account {
  -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
}

#Apple-footer > div.container > #apple-guide > div.service-account input#service {
  display: none;
}

#Apple-footer > div.container > #apple-guide > div.service-account > div label {
  margin-bottom: unset;
}

#Apple-footer > div.container > #apple-guide > div.service-account > div label h3 {
  font-size: 12px;
  font-weight: 600;
  font-family: "Noto Sans TC", sans-serif;
  color: #1d1d1f;
}

#Apple-footer > div.container > #apple-guide > div.service-account > div ul {
  list-style: none;
}

#Apple-footer > div.container > #apple-guide > div.service-account > div ul li a {
  font-size: 12px;
  color: #1d1d1f;
}

#Apple-footer > div.container > #apple-guide > div.service-account input#account {
  display: none;
}

#Apple-footer > div.container > #apple-guide > div.service-account > div label {
  margin-bottom: unset;
}

#Apple-footer > div.container > #apple-guide > div.service-account > div label h3 {
  font-size: 12px;
  font-weight: 600;
  font-family: "Noto Sans TC", sans-serif;
  color: #1d1d1f;
}

#Apple-footer > div.container > #apple-guide > div.service-account > div ul {
  list-style: none;
}

#Apple-footer > div.container > #apple-guide > div.service-account > div ul li a {
  font-size: 12px;
  color: #1d1d1f;
}

#Apple-footer > div.container > #apple-guide > div.apple-store {
  -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
}

#Apple-footer > div.container > #apple-guide > div.apple-store input#apple-store {
  display: none;
}

#Apple-footer > div.container > #apple-guide > div.apple-store > div label {
  margin-bottom: unset;
}

#Apple-footer > div.container > #apple-guide > div.apple-store > div label h3 {
  font-size: 12px;
  font-weight: 600;
  font-family: "Noto Sans TC", sans-serif;
  color: #1d1d1f;
}

#Apple-footer > div.container > #apple-guide > div.apple-store > div ul {
  list-style: none;
}

#Apple-footer > div.container > #apple-guide > div.apple-store > div ul li a {
  font-size: 12px;
  color: #1d1d1f;
}

#Apple-footer > div.container > #apple-guide > div.business-education {
  -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
}

#Apple-footer > div.container > #apple-guide > div.business-education input#business {
  display: none;
}

#Apple-footer > div.container > #apple-guide > div.business-education > div label {
  margin-bottom: unset;
}

#Apple-footer > div.container > #apple-guide > div.business-education > div label h3 {
  font-size: 12px;
  font-weight: 600;
  font-family: "Noto Sans TC", sans-serif;
  color: #1d1d1f;
}

#Apple-footer > div.container > #apple-guide > div.business-education > div ul {
  list-style: none;
}

#Apple-footer > div.container > #apple-guide > div.business-education > div ul li a {
  font-size: 12px;
  color: #1d1d1f;
}

#Apple-footer > div.container > #apple-guide > div.business-education input#education {
  display: none;
}

#Apple-footer > div.container > #apple-guide > div.business-education > div label {
  margin-bottom: unset;
}

#Apple-footer > div.container > #apple-guide > div.business-education > div label h3 {
  font-size: 12px;
  font-weight: 600;
  font-family: "Noto Sans TC", sans-serif;
  color: #1d1d1f;
}

#Apple-footer > div.container > #apple-guide > div.business-education > div ul {
  list-style: none;
}

#Apple-footer > div.container > #apple-guide > div.business-education > div ul li a {
  font-size: 12px;
  color: #1d1d1f;
}

#Apple-footer > div.container > #apple-guide > div.value-about input#value {
  display: none;
}

#Apple-footer > div.container > #apple-guide > div.value-about > div {
  -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
}

#Apple-footer > div.container > #apple-guide > div.value-about > div label {
  margin-bottom: unset;
}

#Apple-footer > div.container > #apple-guide > div.value-about > div label h3 {
  font-size: 12px;
  font-weight: 600;
  font-family: "Noto Sans TC", sans-serif;
  color: #1d1d1f;
}

#Apple-footer > div.container > #apple-guide > div.value-about > div ul {
  list-style: none;
}

#Apple-footer > div.container > #apple-guide > div.value-about > div ul li a {
  font-size: 12px;
  color: #1d1d1f;
}

#Apple-footer > div.container > #apple-guide > div.value-about input#about {
  display: none;
}

#Apple-footer > div.container > #apple-guide > div.value-about > div label {
  margin-bottom: unset;
}

#Apple-footer > div.container > #apple-guide > div.value-about > div label h3 {
  font-size: 12px;
  font-weight: 600;
  font-family: "Noto Sans TC", sans-serif;
  color: #1d1d1f;
}

#Apple-footer > div.container > #apple-guide > div.value-about > div ul {
  list-style: none;
}

#Apple-footer > div.container > #apple-guide > div.value-about > div ul li a {
  font-size: 12px;
  color: #1d1d1f;
}

@media screen and (max-width: 767px) {
  #Apple-footer > div.container #apple-guide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #Apple-footer > div.container #apple-guide .select-product {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    border-bottom: 1px solid #dadada;
  }
  #Apple-footer > div.container #apple-guide .select-product > input#select-product:checked ~ div > ul {
    display: block;
  }
  #Apple-footer > div.container #apple-guide .select-product > div > ul {
    display: none;
  }
  #Apple-footer > div.container #apple-guide .select-product > div > label h3 {
    cursor: pointer;
  }
  #Apple-footer > div.container #apple-guide .select-product > div > label h3::after {
    content: "+";
    float: right;
    font-size: 14px;
    margin-left: 400px;
  }
  #Apple-footer > div.container #apple-guide .service-account > div {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    border-bottom: 1px solid #dadada;
  }
  #Apple-footer > div.container #apple-guide .service-account > div ul {
    display: none;
  }
  #Apple-footer > div.container #apple-guide .service-account > input#service:checked ~ div.service-div > ul {
    display: block;
  }
  #Apple-footer > div.container #apple-guide .service-account > input#account:checked ~ div.account-div > ul {
    display: block;
  }
  #Apple-footer > div.container #apple-guide .service-account > div > label h3 {
    cursor: pointer;
  }
  #Apple-footer > div.container #apple-guide .service-account > div > label h3::after {
    content: "+";
    float: right;
    font-size: 14px;
    margin-left: 465px;
  }
  #Apple-footer > div.container #apple-guide .apple-store {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    border-bottom: 1px solid #dadada;
  }
  #Apple-footer > div.container #apple-guide .apple-store > input#apple-store:checked ~ div > ul {
    display: block;
  }
  #Apple-footer > div.container #apple-guide .apple-store > div > ul {
    display: none;
  }
  #Apple-footer > div.container #apple-guide .apple-store > div > label h3 {
    cursor: pointer;
  }
  #Apple-footer > div.container #apple-guide .apple-store > div > label h3::after {
    content: "+";
    float: right;
    font-size: 14px;
    margin-left: 425px;
  }
  #Apple-footer > div.container #apple-guide .business-education > div {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    border-bottom: 1px solid #dadada;
  }
  #Apple-footer > div.container #apple-guide .business-education > div ul {
    display: none;
  }
  #Apple-footer > div.container #apple-guide .business-education > input#business:checked ~ div.business-div > ul {
    display: block;
  }
  #Apple-footer > div.container #apple-guide .business-education > input#education:checked ~ div.education-div > ul {
    display: block;
  }
  #Apple-footer > div.container #apple-guide .business-education > div > label h3 {
    cursor: pointer;
  }
  #Apple-footer > div.container #apple-guide .business-education > div > label h3::after {
    content: "+";
    float: right;
    font-size: 14px;
    margin-left: 440px;
  }
  #Apple-footer > div.container #apple-guide .value-about > div {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    border-bottom: 1px solid #dadada;
  }
  #Apple-footer > div.container #apple-guide .value-about > div ul {
    display: none;
  }
  #Apple-footer > div.container #apple-guide .value-about > input#value:checked ~ div.value-div > ul {
    display: block;
  }
  #Apple-footer > div.container #apple-guide .value-about > input#about:checked ~ div.about-div > ul {
    display: block;
  }
  #Apple-footer > div.container #apple-guide .value-about > div > label.value h3 {
    cursor: pointer;
  }
  #Apple-footer > div.container #apple-guide .value-about > div > label.value h3::after {
    content: "+";
    float: right;
    font-size: 14px;
    margin-left: 405px;
  }
  #Apple-footer > div.container #apple-guide .value-about > div > label.about h3::after {
    content: "+";
    float: right;
    font-size: 14px;
    margin-left: 431px;
  }
}

@media screen and (max-width: 576px) {
  #Apple-footer > div.container #apple-guide > .select-product > div > label h3::after {
    margin-left: 350px;
  }
  #Apple-footer > div.container #apple-guide > .service-account .service-div > label h3::after {
    margin-left: 415px;
  }
  #Apple-footer > div.container #apple-guide > .service-account .account-div > label h3::after {
    margin-left: 415px;
  }
  #Apple-footer > div.container #apple-guide > .apple-store > div > label h3::after {
    margin-left: 375px;
  }
  #Apple-footer > div.container #apple-guide > .business-education .business-div > label h3::after {
    margin-left: 390px;
  }
  #Apple-footer > div.container #apple-guide > .business-education .education-div > label h3::after {
    margin-left: 390px;
  }
  #Apple-footer > div.container #apple-guide > .value-about .value-div > label.value h3::after {
    margin-left: 355px;
  }
  #Apple-footer > div.container #apple-guide > .value-about .about-div > label.about h3::after {
    margin-left: 381px;
  }
}

@media screen and (max-width: 490px) {
  #Apple-footer > div.container #apple-guide > .select-product > div > label h3::after {
    margin-left: 230px;
  }
  #Apple-footer > div.container #apple-guide > .service-account .service-div > label h3::after {
    margin-left: 295px;
  }
  #Apple-footer > div.container #apple-guide > .service-account .account-div > label h3::after {
    margin-left: 295px;
  }
  #Apple-footer > div.container #apple-guide > .apple-store > div > label h3::after {
    margin-left: 255px;
  }
  #Apple-footer > div.container #apple-guide > .business-education .business-div > label h3::after {
    margin-left: 270px;
  }
  #Apple-footer > div.container #apple-guide > .business-education .education-div > label h3::after {
    margin-left: 270px;
  }
  #Apple-footer > div.container #apple-guide > .value-about .value-div > label.value h3::after {
    margin-left: 235px;
  }
  #Apple-footer > div.container #apple-guide > .value-about .about-div > label.about h3::after {
    margin-left: 261px;
  }
}

@media screen and (max-width: 374px) {
  #Apple-footer > div.container #apple-guide > .select-product > div > label h3::after {
    margin-left: 180px;
  }
  #Apple-footer > div.container #apple-guide > .service-account .service-div > label h3::after {
    margin-left: 245px;
  }
  #Apple-footer > div.container #apple-guide > .service-account .account-div > label h3::after {
    margin-left: 245px;
  }
  #Apple-footer > div.container #apple-guide > .apple-store > div > label h3::after {
    margin-left: 205px;
  }
  #Apple-footer > div.container #apple-guide > .business-education .business-div > label h3::after {
    margin-left: 220px;
  }
  #Apple-footer > div.container #apple-guide > .business-education .education-div > label h3::after {
    margin-left: 220px;
  }
  #Apple-footer > div.container #apple-guide > .value-about .value-div > label.value h3::after {
    margin-left: 185px;
  }
  #Apple-footer > div.container #apple-guide > .value-about .about-div > label.about h3::after {
    margin-left: 211px;
  }
}

#Apple-footer > div.container section.more-info {
  padding-top: 20px;
}

#Apple-footer > div.container section.more-info > div h4 {
  font-size: 12px;
  font-family: "Noto Sans TC", sans-serif;
  color: #1d1d1f;
}

#Apple-footer > div.container section#copyright {
  text-align: center;
}

#Apple-footer > div.container section#copyright h4 {
  font-size: 16px;
  color: #af2525;
  font-weight: 600;
  font-family: "Noto Sans TC", sans-serif;
  line-height: unset;
  margin-bottom: unset;
  padding-bottom: 20px;
}
